/node_modules
/public/hot
/public/storage
/public/css
/public/js
/storage/*.key
/vendor
.php-cs-fixer.cache
.php_cs.cache
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/sailmysql
/public/mix-manifest.json
